#Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(90deg, rgb(5, 5, 10), rgb(14, 10, 8));

  z-index: -10;
  overflow: hidden;
}

#Clown {
  width: 256px;
  height: 256px;

  z-index: 5;

  background-image: url("../static/clown.png");
  background-size: 100%;
  background-repeat: no-repeat;

  animation: clown-flying 180s linear infinite alternate;
}

@keyframes clown-flying {
  from {
    transform: translateY(180px) translateX(-50vw) rotateZ(10deg);
  }

  to {
    transform: translateY(300px) translateX(300vw) rotateZ(360deg);
  }
}

#Assistant {
  width: 256px;
  height: 256px;

  z-index: 5;

  background-image: url("../static/assistant.png");
  background-size: 100%;
  background-repeat: no-repeat;

  animation: assistant-flying 140s linear infinite alternate;
}

@keyframes assistant-flying {
  from {
    transform: translateY(60vh) translateX(-100vw) rotateZ(360deg);
  }

  to {
    transform: translateY(60vh) translateX(300vw) rotateZ(0deg);
  }
}

#Extinguisher {
  width: 256px;
  height: 256px;

  z-index: 5;

  background-image: url("../static/extinguisher.png");
  background-size: 100%;
  background-repeat: no-repeat;

  animation: extinguisher-flying 60s linear infinite alternate;
}

@keyframes extinguisher-flying {
  from {
    transform: translateY(45vh) translateX(150vw) rotateZ(360deg);
  }

  to {
    transform: translateY(300px) translateX(-350px) rotateZ(0deg);
  }
}



.sky {
  align-self: unset;
  justify-self: unset;
  position: absolute;
  width: 150vw;
  height: 100vh;
}

.star1 {
  background-image: url(../static/starsky-1.gif));
  animation: slide 3s linear infinite;
  z-index: -1;
}

.star2 {
  background-image: url(../static/starsky-2.gif);
  animation: slide 4s linear infinite;
  z-index: -2;
}

.star3 {
  background-image: url(../static/starsky-3.gif);
  animation: slide 5s linear infinite;
  z-index: -3;
}

.star4 {
  background-image: url(../static/starsky-4.gif);
  animation: slide 6s linear infinite;
  z-index: -4;
}

@keyframes slide {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-128px); /* The image width */
    }
  }
