:root {
  --fancy-font: "Century Gothic";
  --sans-font: "Arial";
  --medium-gap: 1rem;
  --small-gap: 0.5rem;

  --background-color-primary: rgba(44, 44, 44, 0.806);
  --background-color-secondary: #2c2f36ca;
}
